<!DOCTYPE html>
<html>
  <head>
	<div th:include="fragments/header :: head"></div>
  </head>
  <body>
	<div th:include="fragments/header :: head-nav"></div>
    <div class="container page"><br/>
	  <div th:include="fragments/header :: head-div"></div>
      <div class="row">
        <h2 th:text="|${sala.bloco.nome} ${sala.nome}|"></h2>
        <form class="col s12" th:action="@{/sala/configurar}" th:object="${sala}" method="POST">
          <div class="row">
			<!-- MENSAGEM DE ERRO -->
          </div>
          <div class="row">
            <h4>Lâmpadas e Ar Condicionados</h4>
	            <div class="col s12">
				  <input type="hidden" th:field="*{id}"/>
				  
	              <div class="col m4 s12">
	                  <p><b>Periodo Manhã</b></p>
		              <div class="input-field">
					    <select th:field="*{manhaLigar}">
					      <option value="00:00:00" >Sem aula</option>
					      <option value="8:00:00">8:00</option>
					      <option value="10:00:00">10:00</option>
					    </select>
					    <label>Ligar</label>
					  </div>
					  <div class="input-field">
					    <select th:field="*{manhaDesligar}">
					      <option value="00:00:00" >Sem aula</option>
					      <option value="10:00:00">10:00</option>
					      <option value="12:00:00">12:00</option>
					    </select>
					    <label>Desligar</label>
					  </div>
	              </div>

	              <div class="col m4 s12">
	                <p><b>Periodo Tarde</b></p>
	                <div class="input-field">
					    <select th:field="*{tardeLigar}">
					      <option value="00:00:00" >Sem aula</option>
					      <option value="13:30:00">13:30</option>
					      <option value="15:30:00">15:30</option>
					    </select>
					    <label>Ligar</label>
					</div>
					<div class="input-field">
					    <select th:field="*{tardeDesligar}">
					      <option value="00:00:00" >Sem aula</option>
					      <option value="15:30:00">15:30</option>
					      <option value="17:30:00">17:30</option>
					    </select>
					    <label>Desligar</label>
					</div>
	              </div>
	
	              <div class="col m4 s12">
	                <p><b>Periodo Noite</b></p>
	                <div class="input-field">
					    <select th:field="*{noiteLigar}">
					      <option value="00:00:00" >Sem aula</option>
					      <option value="18:00:00">18:00</option>
					      <option value="20:00:00">20:00</option>
					    </select>
					    <label>Ligar</label>
					  </div>
					  <div class="input-field">
					    <select th:field="*{noiteDesligar}">
					      <option value="00:00:00" >Sem aula</option>
					      <option value="20:00:00">20:00</option>
					      <option value="22:00:00">22:00</option>
					    </select>
					    <label>Desligar</label>
					  </div>
	              </div>
	            </div>
	            
	            <!-- <div class="col s12">
	              <div class="col s4 ">
	                <p><b>Data para realizar ações</b>  </p>
	                <div class="card-content"><span class="card-title">Data inicio</span>
	                  <input type="date"  th:field="*{dataInicio}" class="datepicker"/>
	                </div>
	                <div class="card-content">
	                  <span class="card-title">Data de fim</span>
	                  <input type="date" th:field="*{dataFim}" class="datepicker"/>
	                </div>
	              </div>
	            </div> -->
			
			    <div class="row">
            	  <button type="submit" class="waves-effect waves-light btn" name="button">Salvar</button>
          	    </div>
          </div>
          
        </form>
      </div>
    </div>
	<div th:include="fragments/footer :: footer"></div>
	<script  type="text/javascript" th:src="@{/js/editar_objetos.js}"></script>
  </body>
</html>
