<!DOCTYPE html>
<html>
  <head>
	<div th:include="fragments/header :: head"></div>
  </head>
  <body>
	<div th:include="fragments/header :: head-nav"></div>
    
    <div class="container page"><br/>
	  <div th:include="fragments/header :: head-div"></div>
      <div class="row">
        <h2>Lista de blocos do campus</h2>
        <div>
          <div th:if="${erro}" class="row chip red white-text">
          	<span class="white-text" th:text="${erro}"></span>
          	<i class="material-icons">close</i>
          </div>
          <div th:if="${cadastrado}" class="row chip green white-text">
            <span class="white-text" th:text="${cadastrado}"></span>
            <i class="material-icons">close</i>
          </div>
          <div th:if="${excluido}" class="row chip blue white-text">
            <span class="white-text" th:text="${excluido}"></span>
            <i class="material-icons">close</i>
          </div>
          <div class="col s12">
            <div class="col m6 s12" th:each="bloco : ${blocos}">
              <div class="card">
                <div class="card-content">
                  <span class="card-title" th:text="${bloco.nome}"></span>
                  <p th:text="|Quantidade de salas ${#arrays.length(bloco.salas)}|">Quantidade algo</p>
                </div>
                <div class="card-action">
                  <a th:href="@{'/sala/listar/' + ${bloco.id}}" class="btn white-text waves-effect waves-light blue">Ver Salas</a>
                  <a th:href="@{'/bloco/editar/' + ${bloco.id}}" class="btn white-text waves-effect waves-light orange">Editar</a>
                  <a  th:attr="href='#modal'+${bloco.id}" class="btn white-text waves-effect waves-light red confirmar modal-trigger">Excluir</a>
                </div>
              </div>
              
              <div th:attr="id='modal'+${bloco.id}" class="modal">
		          <form th:action="@{/bloco/excluir}" method="POST">
		          	<div class="modal-content">
			          <h4>Excluir Bloco</h4>
			          <h5 th:text="|O ${bloco.nome} será excluído|"></h5>
			          <p>Tem certeza que deseja excluir esse bloco?</p>
			        </div>
			        <input th:value="${bloco.id}" name="idBloco" type="hidden"/>
			        <div class="modal-footer">
			        <button type="submit" class="modal-action modal-close waves-effect btn-flat" name="button">Confirmar</button>
			          <a href="#" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
			        </div>
		          </form>
	          </div>  
              
            </div>

          </div>
        </div>
        
        <!--Tirar o margin_right: 20px; no CSS-->
      </div>
    </div>
    
    <div th:include="fragments/footer :: footer"></div>
  </body>
</html>
