<!DOCTYPE html>
<html>
  <head>
	<div th:include="fragments/header :: head"></div>
  </head>
  <body>
	<div th:include="fragments/header :: head-nav"></div>
    <div class="container page"><br/>
	  <div th:include="fragments/header :: head-div"></div>
      <div class="row">
        <h2 th:text="|Salas do ${bloco.nome}|"></h2>
        <div th:if="${cadastrado}" class="row chip green white-text">
            <span class="white-text" th:text="${cadastrado}"></span>
            <i class="material-icons">close</i>
          </div>
        
        <div>

          <div class="col m6 s12" th:each="sala : ${salas}">
            <div class="card">
              <div class="card-content">
                <span class="card-title" th:text="${sala.nome}">Sala 1</span>
                <p th:text="|Quantidade de Ar Condicionados ${#arrays.length(sala.arCondicionados)}|"></p>
                <p th:text="|Quantidade de Lâmpadas ${#arrays.length(sala.lampadas)}|"></p>
              </div>
              <div class="card-action">
                <a th:href="@{'/sala/detalhe_sala/'+${sala.id}}" class="btn white-text waves-effect waves-light">Detalhes</a>
                <a th:href="@{'/sala/editar/'+${sala.id}}" class="btn white-text waves-effect waves-light orange">Editar</a>
                <a th:attr="href='#modal'+${sala.id}" class="btn white-text waves-effect waves-light red confirmar modal-trigger">Excluir</a>
              </div>
            </div>
            
	        <div th:attr="id='modal'+${sala.id}" class="modal">
	          <form th:action="@{/sala/excluir}" method="POST">
	          	<div class="modal-content">
		          <h4>Excluir Sala</h4>
		          <h5 th:text="|A ${sala.nome} será excluída|"></h5>
		          <p>Tem certeza que deseja excluir essa sala?</p>
		        </div>
		        <input th:value="${sala.id}" name="idSala" type="hidden"/>
		        <input th:value="${bloco.id}" name="idBloco" type="hidden"/>
		        <div class="modal-footer">
		        <button type="submit" class="modal-action modal-close waves-effect btn-flat" name="button">Confirmar</button>
		          <a href="#" class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
		        </div>
	          </form>
	        </div>            
            
          </div>

        </div>

      </div>
    </div>
	<div th:include="fragments/footer :: footer"></div>
  </body>
</html>
