<!DOCTYPE html>
<html>
  <head>
	<div th:include="fragments/header :: head"></div>
  </head>
  <body>
    <nav role="navigation" class="blue darken-4">
	  <div class="nav-wrapper container">
	        
	  </div>
	</nav>
    
    <div class="container page"><br/>
      <div class="row ">
          
          <div class="col s12 offset-s3">
            <div th:if="${sucesso}" class="row chip green white-text">
            	<span class="white-text" th:text="${sucesso}"></span>
            	<i class="material-icons">close</i>
            </div>
            <form th:action="@{/login}" method="post">
            
            	<div class="col m6 s12" >
	              <div class="card">
	                <div class="card-content">
	                  <div class="center">
	                  	<span class="card-title" >Login</span>
	                  </div>
	                  <div class="row">
		                  <div class="input-field col s12">
		                  	<input id="email" type="email" name="username" class="validate"/>
		                    <label for="email" class="text" data-error="Email errado" data-success="Email correto">Email</label>
		                  </div>
	                  </div>
	                  <div class="row" >
	                  	<div class="input-field col s12">
		                  	<input id="password" type="password" name="password" class="validate"/>
		                    <label for="password">Senha</label>
		                </div>
		              </div>
	                </div>
	                <div class="card-action">
	                  <div class="row">
	                    <div class="col s12">
	                    	<div class="col s4"> 
	                    		<button type="submit" class="btn white-text waves-effect waves-light blue">Logar</button>
	                    	</div>
	                    	<div class="col s4 offset-s3"> 
	                    		<a th:href="@{/login/cadastrar}" class="btn white-text waves-effect waves-light green">Cadastrar</a>
	                    	</div>
	                    </div>
	                    
	                  </div>
	                </div>
	              </div>
	            </div>
            
            </form>
          </div>
      
      
      </div>

    </div>
    	
    <div th:include="fragments/footer :: footer"></div>
  </body>
</html>
